body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 17px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    font: inherit;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #fb565a;
    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-block {
    width: 100%;
}

.header {
    padding-top: 49px;
    min-width: 1200px;

    background-color: #eeeeee;
}

.container {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 500px;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-right: 42px;

    list-style: none;
}

.menu-item {
    margin-right: 23px;
    margin-left: 23px;
}

.menu-item a,
.basket {
    position: relative;

    display: block;

    color: #000000;
}

.basket {
    padding-top: 7px;
    padding-left: 41px;
}

.basket::before {
    content: "";

    position: absolute;
    top: 14px;
    left: 0;

    width: 15px;
    height: 15px;

    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-item a:hover,
.menu-item a:focus,
.basket:hover,
.basket:focus {
    color: #fb565a;
}

.menu-item a:active,
.basket:active {
    color: rgba(0, 0, 0, 0.3);
}

.menu-item-current a::after,
.basket-current::after {
    content: "";

    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: #fb565a;
}

.logo {
    margin-right: 0;
}

.logo:hover,
.logo:focus {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.slider {
    position: relative;

    min-width: 1200px;
    min-height: 421px;
    margin-bottom: 80px;

    background-color: #eeeeee;
}

.slides-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slides-item {
    display: none;

    width: 1160px;
    min-height: 421px;

    background-repeat: no-repeat;
}

.slider-input {
    position: absolute;

    width: 1px;
    height: 1px;

    overflow: hidden;
    clip: rect(0 0 0 0);
}

.slider-controls {
    position: absolute;
    bottom: 96px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    font-size: 0;
    line-height: 0;
}

.slider-label {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;

    background-color: #ffffff;

    border-radius: 50%;

    cursor: pointer;
}

.slider-label + .slider-label {
    margin-left: 17px;
}

.slides-item:nth-child(1) {
    background-image: url("../img/slide-1.png");
    background-position: 431px bottom;
}

.slides-item:nth-child(2) {
    background-image: url("../img/slide-2.png");
    background-position: 496px bottom;
}

.slides-item:nth-child(3) {
    background-image: url("../img/slide-3.png");
    background-position: 401px bottom;
}

.slider-input:nth-of-type(1):checked ~ .slides-list .slides-item:nth-child(1) {
    display: block;
}

.slider-input:nth-of-type(2):checked ~ .slides-list .slides-item:nth-child(2) {
    display: block;
}

.slider-input:nth-of-type(3):checked ~ .slides-list .slides-item:nth-child(3) {
    display: block;
}

.slider-input:nth-of-type(1):checked ~ .slider-controls label[for="button-1"]::before,
.slider-input:nth-of-type(2):checked ~ .slider-controls label[for="button-2"]::before,
.slider-input:nth-of-type(3):checked ~ .slider-controls label[for="button-3"]::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 8px;
    height: 8px;

    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slides-item-info {
    display: inline-block;
    width: 520px;
    margin-top: 68px;
    vertical-align: middle;

    text-align: left;
}

.slogan {
    margin-top: 0;
    margin-bottom: 26px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slogan-details {
    margin-bottom: 39px;
}

.slides-item-info .button {
    padding-right: 55px;
    padding-left: 54px;
    margin-bottom: 80px;
    max-width: 400px;
}

.services {
    position: relative;
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;

    padding: 0;
    padding-bottom: 40px;

    border-bottom: 2px solid #eeeeee;

    list-style: none;
}

.services-item {
    width: 300px;
    margin-right: 100px;
    margin-bottom: 40px;
}

.services-item:nth-child(3n) {
    margin-right: 60px;
}

.services-item img {
    margin-bottom: 18px;
}

.services-item-title,
.services-item-description {
    text-align: left;
}

.services-item-title {
    margin: 0;
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.services-item-description {
    padding-right: 55px;
    margin: 0;
    margin-bottom: 32px;
}

.services-item .button {
    padding-right: 40px;
    padding-left: 40px;
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #00aa62;
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #e5a722;
}

.about {
    position: relative;
}

.about-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 13px;
    padding-top: 40px;
}

.about-main-info {
    width: 650px;
}

.about-main-info h4 {
    margin: 0;
    margin-bottom: 34px;
    padding-top: 34px;
}

.about-main-info p {
    margin: 0;
}

.about-main-logo {
    width: 360px;
}

.about-additional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 58px;
}

.about-additional p {
    text-transform: uppercase;
}

.about-additional-services {
    width: 650px;
}

.about-additional-services p {
    margin-bottom: 12px;
}

.about-additional-services li {
    position: relative;

    padding: 12px;
    padding-left: 36px;
}

.about-additional-services li::before {
    content: "";

    position: absolute;
    top: 23px;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.about-additional-numbers {
    width: 360px;
}

.about ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.about-main-info,
.about-additional-services {
    text-align: left;
}

.about-additional-numbers {
    text-align: center;
}

.about-main-info h4 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-additional p {
    font-weight: 700;
    color: #000000;
}

.about-additional-numbers p {
    margin-bottom: 42px;
    padding-left: 2px;
}

.about-additional-numbers ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.about-additional-numbers li {
    width: 120px;
    margin-bottom: 18px;

    line-height: 18px;
    text-align: left;
}

.about-additional-numbers span {
    display: inline-block;
    padding-bottom: 18px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}

.about-additional-numbers sup {
    font-size: 28px;
}

.clients {
    margin-bottom: 80px;
}

.clients-list {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0;
    padding-top: 44px;
    padding-bottom: 44px;

    line-height: 0;

    list-style: none;
}

.clients-list::before {
    content:"";

    position: absolute;
    top: 0;
    left: 20px;

    width: 1160px;
    height: 2px;

    background-color: #eeeeee;
}

.clients-list::after {
    content:"";

    position: absolute;
    bottom: 0;
    left: 20px;

    width: 1160px;
    height: 2px;

    background-color: #eeeeee;
}

.clients-item {
    position: relative;

    width: 25%;
    padding-top: 7px;
}

.clients-item + .clients-item:not(:nth-child(4n+1))::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    width: 2px;
    height: 52px;

    background-color: #eeeeee;
}

.clients-item-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    opacity: 0.2;
}

.clients-item-logo:hover,
.clients-item-logo:focus {
    opacity: 1;
}

.clients-item-logo:active {
    opacity: 0.1;
}

.map {
    position: relative;

    min-width: 1200px;
    height: 416px;

    background: url("../img/map.png") no-repeat top center;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 416px;
}

.write-us {
    position: absolute;
    top: 54px;

    width: 319px;
    padding-top: 48px;
    padding-right: 49px;
    padding-bottom: 47px;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    text-align: left;

    background-color: #ffffff;
}

.write-us-title {
    margin: 0;
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.write-us-address,
.write-us-phone {
    margin: 0;
    margin-left: 2px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.write-us-address {
    margin-bottom: 18px;
}

.write-us-phone {
    margin-bottom: 37px;
}

.write-us-phone a {
    color: #666666;
}

.write-us .button {
    padding-right: 44px;
    padding-left: 44px;
}

@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate(-51%, -50%);
              transform: translate(-51%, -50%);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate(-49%, -50%);
              transform: translate(-49%, -50%);
    }
}

@keyframes shake {
    0%,
    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate(-51%, -50%);
              transform: translate(-51%, -50%);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate(-49%, -50%);
              transform: translate(-49%, -50%);
    }
}

@-webkit-keyframes modal-hide {
    0% {
        visibility: visible;
      }
    99% {
      visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes modal-hide {
    0% {
        visibility: visible;
      }
    99% {
      visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.write-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    visibility: visible;
    opacity: 1;
    width: 760px;
    padding-top: 55px;
    padding-right: 100px;
    padding-bottom: 84px;
    padding-left: 100px;

    background-color: #ffffff;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
            box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.write-modal-error {
    -webkit-animation-name: shake;
            animation-name: shake;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

.write-modal-close {
    -webkit-transform: translate(1000px, -1000px);
            transform: translate(1000px, -1000px);
    opacity: 0;
    -webkit-animation-name: modal-hide;
            animation-name: modal-hide;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

.modal-close {
    position: absolute;

    width: 21px;
    height: 21px;

    border: 0;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    top: 78px;
    right: 90px;
    background-color: #ffffff;

    opacity: 0.3;

    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.write-modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.write-modal-title {
    margin: 0;
    margin-bottom: 49px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
    text-align: left;
}

.write-modal-field {
    width: 360px;
    margin: 0;
    margin-bottom: 36px;
}

.field-comment {
    width: 760px;
    margin-bottom: 47px;
}

.write-modal-field .field-label {
    display: block;
    margin: 0;
    margin-bottom: 12px;

    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-align: left;
}

.write-modal-field .field-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 15px;

    line-height: 18px;

    background-color: #ffffff;
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.write-modal-field .field-input::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.5);
}

.write-modal-field .field-input::-moz-placeholder {
    color: rgba(68, 68, 68, 0.5);
}

.write-modal-field .field-input:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.5);
}

.write-modal-field .field-input::-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.5);
}

.write-modal-field .field-input::placeholder {
    color: rgba(68, 68, 68, 0.5);
}

.write-modal-field .field-input:hover {
    border-color: #b4b9bb;
}

.write-modal-field .field-input:focus {
    border-color: #000000;
}

.write-modal-field .field-input:focus::-webkit-input-placeholder {
    color: #444444;
}

.write-modal-field .field-input:focus::-moz-placeholder {
    color: #444444;
}

.write-modal-field .field-input:focus:-ms-input-placeholder {
    color: #444444;
}

.write-modal-field .field-input:focus::-ms-input-placeholder {
    color: #444444;
}

.write-modal-field .field-input:focus::placeholder {
    color: #444444;
}

.write-modal-field .field-input:invalid {
    border-color: #e74246;
}

.write-modal-field .field-input:invalid::-webkit-input-placeholder {
    color: #e74246;
}

.write-modal-field .field-input:invalid::-moz-placeholder {
    color: #e74246;
}

.write-modal-field .field-input:invalid:-ms-input-placeholder {
    color: #e74246;
}

.write-modal-field .field-input:invalid::-ms-input-placeholder {
    color: #e74246;
}

.write-modal-field .field-input:invalid::placeholder {
    color: #e74246;
}

.field-comment .field-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 760px;
    padding-top: 14px;
    padding-right: 15px;
    padding-bottom: 14px;
    padding-left: 15px;
    resize: none;
}

.write-modal .button {
    width: 260px;
}

.footer {
    padding-top: 68px;
    padding-bottom: 69px;
}

.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 271px;
    margin: 0;
    margin-right: 130px;
    padding: 0;

    list-style: none;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 79px;
    height: 79px;

    margin-right: 11px;

    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.discount {
    margin-right: auto;
}

.discount-slogan,
.discount-info {
    margin: 0;
}

.discount-slogan {
    margin-bottom: 10px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.discount-info {
    line-height: 22px;
    color: #444444;
}

.header-title {
    padding-bottom: 108px;
    margin-top: 68px;
    margin-bottom: 0;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    text-align: center;

    background-color: #eeeeee;
}

.catalog {
    margin-top: 40px;
}

.catalog .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog-filter {
    width: 261px;
    margin-top: 15px;
}

.filter-form fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter-form .filter-form-price {
    margin-bottom: 53px;
}

.filter-form .filter-form-grid {
    margin-bottom: 27px;
}

.filter-form .filter-form-features {
    margin-bottom: 31px;
}

.filter-form-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.filter-form-price .filter-form-title {
    letter-spacing: 0.18px;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 38px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #eeeeee;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background-color: #00ca74;
}

.range-controls .toggle {
   position: absolute;
   top: 29px;
   left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;

    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls input[type="number"] {
    -moz-appearance: textfield;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    vertical-align: middle;

    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;

    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
}

.max-price {
    text-align: right;
}

.radio,
.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 14px;
}

.radio-input,
.checkbox-input {
    position: absolute;

    width: 1px;
    height: 1px;

    overflow: hidden;
    clip: rect(0 0 0 0);
}

.radio-label,
.checkbox-label {
    position: relative;

    display: inline-block;
    padding-left: 36px;
    padding-top: 2px;
    padding-bottom: 18px;
    vertical-align: middle;

    line-height: 20px;

    cursor: pointer;
}

.radio-label::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    background: url("../img/radio-off.svg") no-repeat;
    opacity: 0.4;
}

.radio-input:checked + .radio-label::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    background: url("../img/radio-on.svg") no-repeat;
}

.checkbox-label::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    background: url("../img/checkbox-off.svg") no-repeat;
    opacity: 0.4;
}

.checkbox-input:checked + .checkbox-label::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    background: url("../img/checkbox-on.svg") no-repeat;
}

.radio-input:disabled + .radio-label::before,
.checkbox-input:disabled + .checkbox-label::before {
    opacity: 0.1;
}


.radio-input:not(:disabled):hover + .radio-label::before,
.radio-input:not(:disabled):focus + .radio-label::before,
.checkbox-input:not(:disabled):hover + .checkbox-label::before,
.checkbox-input:not(:disabled):focus + .checkbox-label::before {
    opacity: 1;
}

.filter-form-button {
    color: #000000;

    background-color: #eeeeee;
}

.filter-form-button:hover,
.filter-form-button:focus {
    background-color: #dfdfdf;
}

.filter-form-button:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 760px;
}

.catalog-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;

    margin-bottom: 39px;
}

.sort-title {
    margin-right: auto;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.sort-list,
.sort-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-list {
    width: 270px;
    margin-right: 30px;
}

.sort-item a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    opacity: 0.3;
}

.sort-item a + .sort-item a {
    margin-left: 26px;
}

.sort-item a:hover,
.sort-item a:focus {
    opacity: 0.6;
}

.sort-item a:active,
.sort-item-current a {
    color: #000000;
    opacity: 1;
}

.sort-arrows {
    padding-left: 20px;
}

.sort-arrows .sort-item a {
    position: relative;

    padding-left: 11px;
    vertical-align: bottom;
}

.arrow-down a {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 11px;
    height: 10px;
    margin-right: 18px;

    background: url("../img/icon-down-dir.svg") no-repeat;
}

.arrow-up a {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 11px;
    height: 10px;

    background: url("../img/icon-up-dir.svg") no-repeat;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;

    list-style: none;
}

.catalog-item {
    position: relative;

    width: 360px;
    margin-bottom: 33px;
    padding-top: 40px;

    line-height: 0;
}

.catalog-item::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 40px;

    background: url("../img/browser.svg") no-repeat;
    opacity: 0.12;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
    opacity: 1;
}

.catalog-item-info {
    position: absolute;
    bottom: 0;
    left: 0;

    display: none;
    padding-top: 28px;
    padding-right: 60px;
    padding-bottom: 38px;
    padding-left: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-height: 231px;

    text-align: center;

    background-color: #eeeeee;
}

.catalog-item:hover .catalog-item-info {
    display: block;
}

.catalog-item-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
    color: #fb565a;
}

.catalog-item-title:active {
    color: #000000;
    opacity: 0.3;
}

.catalog-item-description {
    margin-bottom: 28px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.catalog-item .button {
    padding-right: 60px;
    padding-left: 60px;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-bottom: 61px;

    list-style: none;
}

.pagination-item + .pagination-item {
    margin-left: 11px;
}

.pagination-item a {
    display: block;
    width: 50px;
    height: 50px;
    padding: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #eeeeee;
}

.pagination-item:last-child a {
    width: 260px;
}

.pagination-item:not(.pagination-item-current) a:hover,
.pagination-item:not(.pagination-item-current) a:focus {
    background-color: #dfdfdf;
}

.pagination-item:not(.pagination-item-current) a:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
            box-shadow: inset 0 0 0 3px #dbdbdb;
}
