body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.button {
    font: inherit;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;

    text-align: center;
    vertical-align: middle;

    background-color: #fb565a;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.header-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;

    background-color: #eeeeee;
}

.menu {
    list-style: none;
}

.menu a,
.basket {
    color: #000000;
}

.menu a:hover,
.menu a:focus,
.basket:hover,
.basket:focus {
    color: #fb565a;
}

.menu a:active,
.basket:active {
    color: #000000;
    opacity: 0.3;
}

.menu-item-current a {
    text-decoration: underline;
    text-decoration-color: #fb565a;
}

.logo:hover,
.logo:focus {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.slides-list {
    list-style: none;
}

.slides-item {
    text-align: left;

    background-color: #eeeeee;
    background-position: top right;
    background-repeat: no-repeat;
}

.slides-item:nth-child(1) {
    background-image: url("../img/slide-1.png");
}

.slides-item:nth-child(2) {
    background-image: url("../img/slide-2.png");
}

.slides-item:nth-child(3) {
    background-image: url("../img/slide-3.png");
}

.slogan {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.services-list {
    list-style: none;
}

.services-item title,
.services-item-description {
    text-align: left;
}

.services-item-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000; 
    text-transform: uppercase;
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #00aa62;
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #e5a722;
}

.about ul {
    list-style: none;
}

.about-main-info,
.about-additional-services {
    text-align: left;
}

.about-additional-numbers {
    text-align: center;
}

.about-main-info h4 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-additional p {
    font-weight: 700;
    color: #000000;
}

.about-additional-numbers li {
    line-height: 18px;

    text-align: left;
}

.about-additional-numbers span {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000;
}

.clients-list {
    list-style: none;
}

.clients-item-logo {
    opacity: 0.2;
}

.clients-item-logo:hover,
.clients-item-logo:focus {
    opacity: 1;
}

.clients-item-logo:active {
    opacity: 0.1;
}

.write-us {
    text-align: left;
}

.write-us-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.write-us-address {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.write-us-modal {
    display: none;
}

.social-links {
    list-style: none;
}

.social-button {
    color: #ffffff;

    background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.discount-slogan {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.discount-info {
    line-height: 22px;
    color: #444444;
}

.header-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;

    background-color: #eeeeee;
}

.filter-form fieldset {
    border: none;
}

.filter-form-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.radio-label,
.checkbox-label {
    line-height: 20px;
}

.radio-input:disabled + label,
.checkbox-input:disabled + label {
    opacity: 0.3;
}

.filter-form-button {
    color: #000000;

    background-color: #eeeeee;
}

.filter-form-button:hover,
.filter-form-button:focus {
    background-color: #dfdfdf;
}

.filter-form-button:active {
    opacity: 0.3;

    background-color: #d5d5d5;
}

.sort-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.sort-list,
.sort-arrows {
    list-style: none;
}

.sort-item a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
    opacity: 0.6;
}

.sort-item a:active {
    color: #000000;

    opacity: 1;
}

.catalog-list {
    list-style: none;
}

.item-info-info {
    text-align: center;

    background-color: #eeeeee;
}

.catalog-item-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
    color: #fb565a;
}

.catalog-item-title:active {
    color: #000000;
    opacity: 0.3;
}

.catalog-item-description {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;

    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    opacity: 0.3;

    background-color: #d5d5d5;
}

.pagination-item-current a {
    background-color: #ffffff;
}